.ForgotPasswordScreen{
    display: flex;
    flex-direction: column;
}

.card1 {
    align-items: center;
    margin:auto;
}
.ForgotPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    padding: 20px;
    /* max-width: 800px; */
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40rem;
    min-height: 80.7vh;

  }

.screenCenterContainerImg {
    object-fit: contain;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 10rem;
    margin-bottom: 5rem;
}
.screenCenterContainerForm {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.screenCenterContainerForm input {
    width: 30rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding-left: 1.1rem;
    padding-right: 2.5rem;
    border: 0.5px black solid;
    outline: none;
}

.screenCenterContainerFormEyeIcon {
    position: absolute;
    margin: .56rem;
    padding: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    align-self: start;

}

.screenCenterContainerFormEyeIcon:hover {
    opacity: 0.5;
}


.screenCenterContainerFormForgetPass {
    /* font-size: smaller; */
    cursor: pointer;
}

.screenCenterContainerFormErrorNormal {
    width: fit-content;
    margin: 0px;
    padding: 0px;
}

.screenCenterContainerFormErrorPassword {
    width: fit-content;
    margin: 0px;
    padding: 0px;
}
.screenCenterContainerMidFormEyeIcon {
    position: absolute;
    margin: .56rem;
    padding: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    align-self: start;

}

.screenCenterContainerMidFormEyeIcon:hover {
    opacity: 0.5;
}

.screenCenterContainerBottom {
    flex-direction: column;
    gap: 1.5rem;
}

.screenCenterContainerBottomButton {
    border: 3px black solid;
    border-radius: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    outline: none;
    transition-duration: 5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
