.topNav{
    /* height: 10rem; */
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}
.topNavFilter{
    display: flex;
    gap: 1rem;
}

.topNavFilter input{
    width: 15rem;
    height: 2.3rem;
    border-radius: 6px;
    padding: .8rem;
    border: none;
}
.topNav select{
    width: 10rem;
    height: 2.3rem;
    border-radius: 6px;
    padding: .5rem;
    border: none;
}
.topNav button{
    width: 7rem;
    height: 2.3rem;
    border-radius: 20px;
    /* padding: .5rem; */
    border: none;
}
